apiVersion: apps/v1
kind: Deployment
metadata:
  name: menu-service
  namespace: foodflux
spec:
  replicas: 2
  selector:
    matchLabels:
      app: menu-service
  template:
    metadata:
      labels:
        app: menu-service
    spec:
      containers:
        - name: menu-service
          image: foodflux/menu-service:latest
          imagePullPolicy: Never
          env:
            - name: MONGO_URL
              value: mongodb://mongodb:27017
            - name: MONGO_DB_NAME
              value: foodflux
            - name: PORT
              value: "3002"
          ports:
            - containerPort: 3002
          livenessProbe:
            httpGet:
              path: /health
              port: 3002
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 3002
            initialDelaySeconds: 5
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: menu-service
  namespace: foodflux
spec:
  selector:
    app: menu-service
  ports:
    - port: 3002
      targetPort: 3002
  type: ClusterIP
