apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: foodflux
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: foodflux/notification-service:latest
          imagePullPolicy: Never
          env:
            - name: KAFKA_BROKERS
              value: kafka:29092
            - name: PORT
              value: "3006"
          ports:
            - containerPort: 3006
          livenessProbe:
            httpGet:
              path: /health
              port: 3006
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 3006
            initialDelaySeconds: 5
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: foodflux
spec:
  selector:
    app: notification-service
  ports:
    - port: 3006
      targetPort: 3006
  type: NodePort
